@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Fredericka+the+Great&family=Handlee&display=swap");

body {
  font-family: "Handlee", cursive !important;
  background-color: #eef6f9 !important;
  background-image: url("../img/2yqT.gif");
  background-size: cover;

}
main {
  padding: 20px;
}
nav {
  font-weight: bolder !important;
  background-color: #1d282e !important;
  text-align: center;
  background-image: url("../img/fff.png");
  background-size: cover;
}

.logo {
  animation: girar 200s alternate infinite;
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.img {
  overflow: hidden; /* Oculta las partes de la imagen que exceden el tamaño del contenedor */
  animation: girarar 10s linear infinite;
  transform-style: preserve-3d;
  perspective: 10px;
  filter: drop-shadow(3px 3px 5px #EEF6F9);
}

.img:hover {
  animation-play-state: paused;
  animation: agrandar .8s linear forwards;
}

@keyframes girarar {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes agrandar {
  0% {
    height: 200px;
  }
  100% {
    height: 250px;
    margin-top: 10px;
  }
}
